.body {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.contents {
  margin-top: 10rem;
}

.disclaimer {
  display: none;
}

@media (max-width: 1100px) {
  .body,
  .app {
    display: none;
  }

  .disclaimer {
    display: block;
  }
}
