*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 100;
}

:root {
  --primary-color: whitesmoke;
  --secondary-color: hsl(0, 0%, 24%);
  --hover-color: hsla(0, 0%, 100%, 0.761);
  --background-color: hsl(350, 92%, 74%);
  --date-color: hsl(208, 100%, 35%);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: 1s ease all;
}

.submit {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  width: 6rem;
}
